/node_modules
/vendor
/.env
/.env.render.example
/.idea
/.vscode
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!.gitignore
.git
.htaccess
.DS_Store
Thumbs.db
docker-compose.yml
*.log
npm-debug.log
yarn-error.log

# ✅ AJOUTER CES LIGNES
/public/storage
/public/hot
/public/build